{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    [홈]
    {% if user.is_authenticated %}
    <h3>{{ user.username }}님 환영합니다!</h3>
    <p><img src="{{ user.image.url }}" alt="안나와요" width="200"></p>
    <a href="{% url 'user_logout' %}">
        <button>로그아웃</button>
    </a>
    {% else %}
    <h3>로그인이 필요합니다.</h3>
    {% endif %}
</body>
</html>