{% extends "base.html" %}
{% load static %}
{% block title %}마이페이지{% endblock %}
{% block link %}{% static 'css/mypage.css' %}{% endblock %}
{% block content %}

<h3 style="text-align: center; padding-top:3%">[ {{user.username}} ]님, 반갑습니다!</h3>
<div class="mypage">
    <span><p><img src="{{ user.image.url }}" alt="안나와요" width="200"></p></span>
        <span><p>아이디 : {{user.username}}</p></span><br>
        <span><p>대학교 : {{user.university}}</p></span><br>
        <span><p>주소 : {{user.adress}}</p></span><br>
</div>
        {% endblock %}