{% extends "base.html" %}
{% load static %}
{% block title %}회원가입{% endblock %}
{% block link %}{% static 'css/signup.css' %}{% endblock %}
{% block content %}

<h1 class="signup-title">회원가입</h1>

    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="signup">
            <p><input class="int" type="text" name="username" placeholder="아이디를 입력하세요 ."><br></p>
            <p><input class="int" type="password" name="password" placeholder="비밀번호를 입력하세요 ."><br></p>
            <p><input class="int" type="password" name="password2" placeholder="비밀번호를 한 번 더 입력하세요"><br></p>
            <p><input class="int" type="text" name="university" placeholder="재학 중인 대학교를 입력하세요"><br></p>
            <p><input class="int" type="text" name="adress" placeholder="주소를 입력해주세요."><br></p>
            <!-- profileImg -->
            <p>프로필이미지</p>
                <p class="box">
                    <input type="file" name="image" accept="image/*"  maxlength="20" required>
            </p>

            <button>회원가입</button>
        </div>
    </form>
    {% endblock%}