@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'IM_Hyemin-Regular';
}

.signup-title{
    text-align: center;
}

.signup{
    text-align: center;
}

.int{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-color: #e4e4e4;
    border-width: 1px;
    font-size: 14px;
}

input:focus {
    outline: none;
}

.box{
    text-align: center;
    padding-left: 4%;
}

.join_title{
    padding-left: 4%;
}