{% extends "base.html" %}
{% load static %}
{% block title %}상세페이지{% endblock %}
{% block link %}{% static 'css/detail.css' %}{% endblock %}
{% block content %}
    <div class="item">
        <div class="item-detail">
            <div class="detail-image">
                <img src="{{ item.image.url }}" width="230" alt="안나옴">
            </div>
            <div class="detail-body">
                <h3>[{{ item.name }}]</h3>
                <h3>가격 : {{ item.price }}</h3>
                <h3>{{ item.body }}</h3>
            </div>
        </div>

            {% if user.is_authenticated %}
    <!-- wrapper -->
        <div id="wrapper">
                <!-- JOIN BTN-->
                <div class="btn_area">
                        <a href="{% url 'order' item.id %}">
                            <button id="btnJoin">주문하기</button>
                        </a>
                    </div>
                        <div class="btn_area">
                        {% if user.is_superuser %}
                        <a href="{% url 'update' item.id %}">
                            <button id="btnJoin">수정하기</button>
                        </a>
                    </div>
                        <div class="btn_area">
                        <a href="{% url 'delete' item.id %}">
                            <button id="btnJoin">삭제하기</button>
                        </a>
                    </div>
                        {% endif %}
            </div>
        </div> 

        {% endif %}
{% endblock %}