{% extends "base.html" %}
{% load static %}
{% block title %}상품 수정{% endblock %}
{% block link %}{% static 'css/new.css' %}{% endblock %}
{% block content %}

    <h3>[ 상품 수정 ]</h3>
    <form method="POST" action="{% url 'update' item.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>상품 이름 : <input name="name" type="text" value="{{ item.name }}"></p>
        <p>상품 가격 : <input name="price" type="text" value="{{ item.price }}"> 원</p>
        <p>상품 사진 : <input name="image" type="file"></p>
        <p>상품 설명</p><textarea name="body" cols="30" rows="10" style="resize: none;">{{ item.body }}</textarea>
        <br>
        <button>상품 등록</button>
    </form>

{% endblock %}