{% extends "base.html" %}
{% load static %}
{% block title %}Shoppingmall{% endblock %}
{% block link %}{% static 'css/home.css' %}{% endblock %}
{% block content %}

    <h1>[ 쇼핑몰 ]</h1>
    <hr>
    {% for item in items %}
    <div>
        <p>
            <span>{{ item.name }}</span><br>
            <p><img src="{{ item.image.url }}" width="230" alt="안나옴"></p>
            <span>{{ item.body }}</span><br>
            <span>\{{ item.price }}</span>
            <a href="{% url 'detail' item.id %}">자세히보기</a>
        </p>
        <hr>
    </div>
    {% endfor %}
{% endblock %}