{% extends "base.html" %}
{% load static %}
{% block title %}Shoppingmall{% endblock %}
{% block link %}{% static 'css/home.css' %}{% endblock %}
{% block content %}

    <div class="account_user">
    {% if user.is_authenticated %}
    <h3>{{ user.username }}님 환영합니다!</h3>
    <p><img src="{{ account.image.url }}" alt="안나와요" width="200"></p>
    <a href="{% url 'user_logout' %}">
        <button>로그아웃</button>
    </a>
    {% else %}
    <h3>로그인이 필요합니다.</h3>
    <a href="{% url 'user_login' %}">
        <button>로그인</button>
    </a>
    {% endif %}
    </div>
    <h1>[ 쇼핑몰 ]</h1>
    <hr>
    {% for item in items %}
    <div>
        <p>
            <span>{{ item.name }}</span><br>
            <p><img src="{{ item.image.url }}" width="230" alt="안나옴"></p>
            <span>{{ item.body }}</span><br>
            <span>\{{ item.price }}</span>
            <a href="{% url 'detail' item.id %}">자세히보기</a>
        </p>
        <hr>
    </div>
    {% endfor %}
{% endblock %}