@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'IM_Hyemin-Regular';
}

.item{
    text-align: center;
    padding-left: 40%;
    padding-top: 5%;
}

.item-detail{
    display: flex;
}

#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


.btn_area {
    margin: 30px 0 91px;
    padding-left: 3%;
    width: 200px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: hsl(60, 100%, 95%);
    font-size: 13px;
    border-radius: 20px;
}

.detail-body{
    text-align: left;
}

.detail-body h3{
    padding-bottom: 3%;
}