@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'IM_Hyemin-Regular';
}

.btn_area {
    text-align: center;
    margin: 30px 0 90px;
    padding-top: 3%;
}

#btnJoin {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    padding: 21px 0 15px;
    border: 0;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: hsl(60, 100%, 95%);
    font-size: 20px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}

#order-div{
    padding-top: 3%;
    font-size: 25px;
}

